.services {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    align-items: center;
  
    .services-left {
      width: 50%;
      display: flex;
      align-items: center;
  
      img {
        width: 80%;
        height: auto;
      }
    }
  
    .services-right {
      width: 50%;
      line-height: 1.6;
      margin-bottom: 3.5rem;
  
      h2 {
        font-size: 2.8rem;
      }
  
      p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
  
      button {
        margin-top: 30px;
        padding: 12px 30px;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        color: #fff;
        background-color: #6c63ff;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #544bd6;
        }
      }
    }
  
   
    @media (max-width: 1200px) {
      width: 90%;
      margin-left: 5%;
  
      .services-left,
      .services-right {
        width: 100%;
      }
  
      .services-left img {
        width: 70%;
      }
  
      .services-right h2 {
        font-size: 2.5rem;
      }
  
      .services-right p {
        font-size: 1.3rem;
      }
  
      button {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 1.2rem;
      }
    }
  
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
  
      .services-left,
      .services-right {
        width: 100%;
        text-align: center;
      }
  
      .services-left img {
        width: 90%;
      }
  
      .services-right h2 {
        font-size: 2rem;
      }
  
      .services-right p {
        font-size: 1.2rem;
      }
  
      button {
        width: 50%;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
      }
    }
  }
  