* {
    margin: 0
}

.navbar {
    background-color: #4394ff;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navbar .navbar-container {
    display: flex;
    align-items: center
}

.navbar .navbar-container .navbar-logo h1 {
    font-size: 1.5rem;
    margin-right: 2rem
}

.navbar .navbar-container .menu-icon {
    display: none;
    cursor: pointer
}

.navbar .navbar-container .menu-icon svg {
    font-size: 1.5rem
}

.navbar .navbar-container .nav-menu {
    list-style: none;
    display: flex
}

.navbar .navbar-container .nav-menu .nav-item {
    margin-right: 1rem
}

.navbar .navbar-container .nav-menu .nav-item a {
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    transition: background-color .3s
}

.navbar .navbar-container .nav-menu .nav-item a:hover,
.navbar .navbar-container .nav-menu .nav-item a.active {
    background-color: #2e85ff
}

@media screen and (max-width: 768px) {
    .navbar .navbar-container .menu-icon {
        display: block
    }

    .navbar .navbar-container .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #3485ff
    }

    .navbar .navbar-container .nav-menu .nav-item {
        margin-right: 0
    }

    .navbar .navbar-container .nav-menu .nav-item a {
        padding: 1rem;
        width: 100%
    }

    .navbar .navbar-container.active .nav-menu {
        display: flex
    }
}